html{
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #1c6fbd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header img {
    width: 100px;
    height: 90px;
    
}


header nav a {
 color: #ffffff;
 font-weight: 800;
 padding: 32px;
 text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
    
} 

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
    
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao{
    background-color: rgb(245, 213, 34);
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    margin-top: 10px;
    text-decoration: none;
}


.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}


#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia  {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}





#farmacia li {
    margin-bottom: 16px;
    margin-left: 32px;
}


#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #1c6fbd;
    border-radius: 8px;
    cursor: pointer;
    padding: 25px;
    
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
    
}

.duvida .paragrafo {
    border-right: 1px solid #1c6fbd;
    border-bottom: 1px solid #1c6fbd;
    border-left: 1px solid #1c6fbd;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;

}

footer {
    background-color: #4483be;
    display: flex;
    gap: 80px;
    padding: 64px 80px;

}


footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #2a43cf;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #222020;
    text-decoration: none;
}

#copyright {
    background-color: rgb(245, 213, 34);
    color: #3d3b3b;
    padding: 24px;
    text-align: center;
}

#copyright a {
    color: #2d3af8;

}

@media screen and (max-width: 647px) { 

    section, .botao { 
        width: 105%
    }
}



